#taskbar{
   background-color: black;
   color: white;
   width: 100%;
  margin: -10;
  position:fixed;
  bottom:0;
}

.window{
    background-color: coral;
    width: 100px;
    height: 100px;
    display: none;
}

ul{
display: flex;
justify-content: space-evenly;
}

li
{
display: block;
}

body{
color: red;
margin: 0;
}