.userpfp {
  text-align: left;
  width: 30px;
  height: 30px;
}

.messagebutton {
  height: 40px;
  width: 99%;
}

.pfpcontainer {
  width: 15%;
  display: inline-block;
}

.usernamecontainer {
  width: 80%;
  display: inline-block;
}

#messagelist {
  width: 99%;
  display:inline-block;
}

#messages {
  width: 30%;
}

#terminalcontent
{
font-family: "Lucida Console", "Courier New", monospace;
  padding: 5px;
    display: flex;
    flex: wrap;
    flex-direction: column;
}

#emails {
    width: 80%;
}

.email {
    line-height: .5px;
    text-align: left;
    width: 100%;
}

.firstline {
    width: 49.5%;
    display: inline-block;
}

.datetime {
    text-align: right;
}

.emailcontent {
  padding-left: 5%;
  padding-right: 5%;
}

.senderinfo {
  font-size: small;
}

.sender {
  font-weight: bold;
}

#emaillist > button{
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

#emaillist > button:hover{
  background-color:lightgrey ;
  cursor: pointer;
}

#newmessage {
  width:100px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

#sync {
  width:100px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}


#newmessage:hover {
  width:100px;
  background-color: transparent;
  border-color: lightgrey;
  cursor: pointer;
}

#sync:hover {
  width:100px;
  background-color: transparent;
  border-color: lightgrey;
  cursor: pointer;
}

#taskbar{
   background-color: #BFCDE0;
   color: white;
   width: 100%;
  margin: -10;
  position:fixed;
  bottom:0;
  margin:0;
  display: flex;
  justify-content: start;
  padding: 0.5%;
}
.window{
    min-width: 30%;
    min-height: 30%;
    max-width: 70%;
    max-height: 85%;
    overflow: scroll;

    display: none;

    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid black;
    text-align: left;
}

.taskbarIcon{
width: 50px;
display: none;
}

li{
padding: 0% 0% 0% 3%;
}

.recievermessage{
    text-align: left;
}

.sendermessage{
    text-align: right;
}

.name{
    text-align: center;
}

.profile{
    clip-path: circle(50%);
}

.username{
    padding: 0 15px;
}

.senderTogether {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.recieverTogether {
  display: flex;
  align-items: center;
}

li
{
display: block;
}


body{
background-color: black;
margin: 0;
font-family: Arial, Helvetica, sans-serif;

}

.photo
{
  max-width: 200px;
  padding: 10px;
}


.windowtitle {
  padding: 5px;
  z-index: 10;
  background-color: #ba59cd;
  color: #fff;
}

.windowcontent {
  padding: 5px;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: space-evenly;

}

.exitbutton{
    position: absolute;
    right: 5px;
    background-color: transparent;
    border: transparent;
    color: white;
    cursor: pointer;
}

#inputLine
{

padding: 1%;
width: 98%;
margin: 5% 0% 0% 0% ;
}

input
{
font-family: "Lucida Console", "Courier New", monospace;
    font-size: medium;
    border: none;
    background-color: #f1f1f1;
    width: 90%;
}

input:focus {
    outline: none;
}

.announcements {
    font-weight: bold;
    text-decoration-line: underline;
}

#stickynote
{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50px;
    right: 300px;
    background-color: #fff740;
    padding: 10px;
    font-family: 'Schoolbell', arial, serif;
    overflow: scroll;
}